* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

nav, footer {
    -webkit-box-shadow: 4px 4px 3px 9px #000;
    -moz-box-shadow: 4px 4px 3px 9px #000;
    box-shadow: 4px 4px 15px 3px #000;
}
.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
.row {
    margin-top: 2em;
    margin-bottom: 2em;
}
.img-thumbnail {
    border: none !important;
    background-color: transparent !important;
}

.fill {
    min-height: 100%;
    height: 100%;
}
footer {
    margin-top: 1em;
    padding: 1em;
    color: #808080;
}
.jumbotron {
    margin: 0;
}
.img {
    width: 100%;
    max-height: 300px;
}
.img-responsive {
    border-radius: 5px;
    width: 200px;
    max-height: 200px;
    min-height: 200px;
}

#talents img {
    height: 500px !important;
}

#contact iframe {
    width: 100%;
}